*.classpath
*.project
*.settings/
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc
*.lock
cmake-build-debug
Binary
Lib
**/build/**
!Tools/Build/Android/
!Tools/Build/Windows/
!Tools/Build/Apple/
!Tools/Build/Linux/
Source/ThirdParty_Prebuilt/**
Tools/Build/Windows/Intermediate/**
Tools/Build/Apple/Intermediate/**
Tools/Build/Linux/Intermediate/**
Tools/Build/Android/Intermediate/**
Build*
!**/build.gradle
!/Project/android/gradle/**
Bin/*
Source/local.properties
local.properties
gradle.properties

# Visual Studio files
debug
release
VisualStudio*
*.sdf
Makefile*
*.user
*.pdb
*.ilk
*.exp
*.ini
BinTmp
*.iml
**/.idea/**
DedicatedServer/protocol/cpp/
**/.gradle/**
# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
CMakeFiles
CMakeFiles*
Debug
*.dir
Win32
x64
*.suo
vs20*

*.html
!/Tools/WebConsole/index.html
#ignored dirs
Data/*.html
/Data/Objects/*
Document/html/*
!ThirdParty/Dispatcher/*
ThirdParty/
!ThirdParty/glew/*
Shader/GLSL/*
Shader/Metal/*
Source/.idea/*
Lib*
Lib/*
DedicatedServer/src/Server

Swift/kaleido3d.xcodeproj/project.xcworkspace/xcuserdata/
Swift/kaleido3d.xcodeproj/xcuserdata/
.DS_Store
xcshareddata
/Project/xcode4
/Project/android/local.properties
/Project/android/gradle.properties
/Project/android/Triangle/src/main/assets/*
/Tools/RHIGenerator/generator/*.pyc
/Tools/RHIGenerator/generator/__pycache__
/Tools/RHIGenerator/generator/*.pyc
/.vs
/.build
/Document/book/*.toc
/Document/book/*.aux
/Document/book/*.bcf
/Document/book/*.log
/Document/book/*.pdf
/Document/book/*.ptc
/Document/book/*.xml
/Document/book/*.gz
